body {
    background-color: #5B7FBD; 
   }
   
   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #5B7FBD;
        padding: 10px;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: #5B7FBD;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        text-align: center;
    }

    nav a:hover {
        background-color: #fff;
        color : #5B7FBD; 
    }

    header {
        background-color: #5B7FBD;
        padding: 10px;
        text-align: center;

        /* Ajout de la propriété flex */
        display: flex;
        align-items: center; /* Alignement vertical au centre */
    }

    .logo {
        max-width: 100px;
        margin-right: 20px;
    } 